.new-category-popup,
.new-account-popup,
.new-transaction-popup {
	display: flex;
	flex-direction: column;
	gap: 20px;
	h1 {
		margin-top: 0px;
		text-align: center;
	}
	.status-text {
		height: fit-content;
		font-size: 14px;
		font-weight: 500;
		color: var(--form_status_color);
		width: 100%;
		&.error {
			color: var(--form_status_error_color);
		}
	}
}

.new-category-popup,
.new-account-popup {
	max-width: 350px;
}
.new-transaction-popup {
	width: 725px;
	.column-container {
		display: flex;
		justify-content: space-between;
	}

	.row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		.form-input-container {
			width: fit-content;
			select {
				width: 150px;
			}
		}
	}

	.input-text-container {
		background-color: var(--input_body_color);
		.amount-input {
			text-align: right;
			padding-right: 2px;
		}
		.decimal {
		}
		.amount-input-decimal {
			width: 30px;
			padding-left: 2px;
		}
	}
}
